.frame-container {
    overflow-y: auto;
    max-width: 100vw;
    max-height: 50vh;
    padding: 10px;
    background-image: url("https://w0.peakpx.com/wallpaper/1021/823/HD-wallpaper-pastel-ombre-gradient-purple-light-solid-pink-led-white-gray-red.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .frame-container-project {
    overflow-y: auto;
    max-width: 30vw;
    max-height: 50vh;
    padding: 10px;
    background-image: url("https://w0.peakpx.com/wallpaper/1021/823/HD-wallpaper-pastel-ombre-gradient-purple-light-solid-pink-led-white-gray-red.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .frame-container-folder {
    overflow-y: auto;
    max-width: 30vw;
    max-height: 50vh;
    padding: 10px;
    background-image: url("https://w0.peakpx.com/wallpaper/1021/823/HD-wallpaper-pastel-ombre-gradient-purple-light-solid-pink-led-white-gray-red.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

.frame-container img {
  width: 200px;
  display: block;
  margin: auto;
}

.frame-container-project img {
  width: 90%;
  display: block;
  margin: auto;
  border: 1px solid;
  margin-bottom: 10px;
}

#bold-p
{
  font-weight: bold;

}

#me {
  display: 'flex'; 
  justify-content: center;
}

.carousel {
  display: flex;
  text-align: center;
  justify-content: center;
}

.carousel img{
  border: 1px solid;
}

  
  .explorer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .explorer-item {
    cursor: pointer;
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    text-align: center;
  }
  
#poloroid {
  max-width: 100vw;
  max-height: 40vh;
  padding: -10px;
}

#resume {
  width: 100%;
}

  #explorer-item-text {
    font-size: 0.8rem;
    color: black;
  }

  @media screen and (min-width: 400px) {
    .frame-container {
      max-width: 400px;
    }
}